/* ==========Общие Стили========== */
:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --page-color: #fff;
  --page-color-dark: #000000;
  --footer-color: #2f303a;
  --secondary-color: #f5f4fa;
  --border-color: rgba(238, 238, 238, 1);
  --bg-color-caption: #c4c4c4;
}

body {
  background-color: var(--page-color);
  color: var(--main-text-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/* ---Логотип ВебСтудии--- */
.logo {
  color: var(--accent-text-color);

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo .dark {
  color: var(--page-color-dark);
}

.logo .light {
  color: var(--page-color);
}

/* ---Навигация по сайту--- */
.header-nav {
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
}
.nav .logo {
  margin-right: 90px;
}

.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--main-text-color);

  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link.current {
  color: var(--accent-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}

/* ---Контакты--- */
.contacts-header {
  display: flex;
  margin-left: auto;
}

.contacts-header .item + .item {
  margin-left: 50px;
}

.contacts-header .link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);

  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts-header .link:hover,
.contacts-header .link:focus {
  color: var(--accent-text-color);
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.map {
  display: flex;
  margin-bottom: 9px;
}

.map .link {
  display: flex;
  color: var(--page-color);

  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
}

.contacts-footer .link {
  display: flex;
  color: var(--contacts-text-color);

  line-height: 1.71;
  text-decoration: none;
}

.contacts-footer li:not(:last-child) {
  margin-bottom: 9px;
}

.contacts-footer .link:hover,
.contacts-footer .link:focus {
  color: var(--accent-text-color);
}

.button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 0;

  color: inherit;
  background-color: transparent;

  font-family: inherit;
  text-decoration: none;
  text-align: center;
}

.title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.header {
  background-color: var(--page-color);
  border-bottom: 1px solid #ececec;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-color);
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid red; */
}

.wrap {
  padding-top: 94px;
  padding-bottom: 94px;
}

.wrap-second {
  padding-bottom: 94px;
}

/* ==========/Общие========== */
/* ======== Стили index.html ======== */

/* ---Главный заголовок--- */
.caption {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  padding: 200px 0px;

  background-color: var(--bg-color-caption);
  background-image: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../img/caption.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.caption-hero {
  max-width: 696px;
  text-align: center;
}

.caption-text {
  margin-bottom: 30px;

  color: var(--page-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

/* Главная кнопка */
.caption .button {
  padding: 10px 32px;
  min-width: 200px;

  color: var(--page-color);
  background-color: var(--accent-text-color);
  border-color: var(--accent-text-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

/* ---О нас--- */

.about-list {
  display: flex;
  flex-wrap: nowrap;
}
.about-item {
  width: 270px;
}

.about-item::before {
  content: '';
  display: block;
  margin-bottom: 30px;
  height: 120px;

  background-color: var(--secondary-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
  border-radius: 4px;
}

.about-item.icon-antenna::before {
  background-image: url('../img/icon-antenna.svg');
}

.about-item.icon-clock::before {
  background-image: url('../img/icon-clock.svg');
}

.about-item.icon-diagram::before {
  background-image: url('../img/icon-diagram.svg');
}

.about-item.icon-astronaut::before {
  background-image: url('../img/icon-astronaut.svg');
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-title {
  margin-bottom: 10px;

  font-weight: 700;
  text-transform: uppercase;
}

.about-text {
  color: var(--secondary-text-color);

  line-height: 1.71;
}
/* ---Чем мы занимаемся--- */
.job ul {
  display: flex;
  justify-content: space-between;
}

.item-job {
  display: flex;
}

/* ---Наша команда--- */
.team {
  background-color: var(--secondary-color);
}

.team ul {
  display: flex;
  justify-content: space-between;
}

.team-window {
  background-color: var(--page-color);
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-photo {
  display: flex;
}

.team-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-profession {
  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Постоянные клиенты */

.clients ul {
  display: flex;
  justify-content: space-between;
}
/* ========/index.html======== */
/* ======= Стили portfolio.html ====== */

/* Портфолио кнопка */

.product-menu {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.menu-button:not(:first-child) {
  margin-left: 8px;
}

.product .button {
  display: block;

  color: var(--main-text-color);
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  padding: 6px 22px;
  min-width: 73px;
}

.product .button:hover,
.product .button:focus {
  color: var(--page-color);
  background-color: var(--accent-text-color);
  border-color: var(--accent-text-color);
}
/* Портфолио продукты */

.product-items {
  display: flex;
  flex-wrap: wrap;
}

.product-window {
  display: flex;
  margin-right: 30px;
  margin-top: 30px;
  max-width: 370px;
  background-color: var(--page-color);
  outline-color: var(--border-color);
  outline-width: 1px;
  outline-style: solid;
}
.product-window:nth-child(3n) {
  margin-right: 0px;
}
.product-window:nth-child(-n + 3) {
  margin-top: 0;
}
.product-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.product-item {
  padding: 20px 24px;
  max-width: 370px;
}

.product .link {
  color: var(--main-text-color);
  text-decoration: none;
}

.product-text {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product-work {
  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.87;
}
/* =======/portfolio.html====== */ ;
